@import 'bootstrap/dist/css/bootstrap';

.container {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.navbar > .container {
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.no-left-padding {
    padding-left: 0 !important;
} 

.btn.btn-primary > .fa.fa-search {
    font-size: 1.4rem;
    padding: 0.35rem;
}

.btn-primary:focus {
    box-shadow: none;
}

#stock {
    box-shadow: none;
}

.results-block {
    display: inline-block;
}

.container > .container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.container.main-container {
    padding-right: var(--bs-gutter-x, 1.2rem);
    padding-left: var(--bs-gutter-x, 1.2rem);
}

.fa.fa-user {
    margin-right: 0.5rem;
}